<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xysss.jetpackmvvm">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:authorities="${applicationId}.KtxInstaller"
            android:name="com.xysss.jetpackmvvm.base.Ktx"
            android:exported="false"/>
    </application>
</manifest>